html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #1c1c1c;
  font-family: 'Montserrat', sans-serif;
  color: #efe9d9;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'futura_no2_dbold_italic';
  src: url('futurano2d-bolita-webfont.woff2') format('woff2'), url('futurano2d-bolita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container {
  /* max-width: 1600px; */
  margin: 0 auto;
}
.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  z-index: 3;
  font-family: 'futura_no2_dbold_italic';
  background-color: #0e1412;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0e1412;
  height: auto;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.header li a:hover, .header .menu-btn:hover {
  background-color: #ff5c50;
  color: #1c1c1c;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  width: 16%;
}
.header .logo img {
  width: 100%;
  height: auto;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 32px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.header .logo {
  width: 16%;
}
.contact {
  text-align: center !important;
}
.contact h2 {
  font-size: 2em;
}
.contact img {
  width: auto !important;
}
.bgBlack {
  background-color: #0e1412;
}
.social{
	
}
.social img {
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 25px 10px 10px 10px;
}


h2 {
  font-family: 'futura_no2_dbold_italic';
  color: #fdbe4c;
  font-size: 2.5em;
  padding: 2%;
}
h3 {
	color: #fdbe4c;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0% 2% 2% 2%;
}
#logo {
  display: inline-block;
  width: 20%;
}
#logo img {
  width: 20%;
  margin: 2% 0% 2% 0%;
  display: inline-block;
  vertical-align: middle
}
#logo a {
  width: 70%;
  display: inline-block;
  vertical-align: middle
}
#nav {
  font-family: 'futura_no2_dbold_italic';
  font-size: 1.7em;
  background-color: #0e1412;
}
#nav ul {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  float: right;
  text-align: right;
}
#nav li {
  display: inline-block;
  margin: 2%;
}
a, p strong {
  color: #fdbe4c;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: #bebefc;
  text-decoration: underline;
}
.clear {
  clear: both;
}
.item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.item img, .item video, video {
  width: 100%;
  height: auto;
  outline: none;
}
.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}
.w75 {
  width: 75%;
}
.w70 {
  width: 70%;
}
.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w40 {
  width: 40%;
}
.w30 {
  width: 30%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.center40{
	width: 40% !important;
	margin: 0 auto !important;
	display: block;
}
#footer {
  padding: 2%;
  text-align: center;
  font-size: .9em;
  background-color: #0e1412;
}
#about, .content {
  max-width: 1200px;
  margin: 3% auto;
  text-align: left;
}
#about div {
  margin: 0 1%;
}
.content img {
  width: 96%;
  height: auto;
  padding: 1% 2% 4% 2%;
}
.contentImageBox {
  width: 96%;
  height: auto;
  padding: 1% 2% 4% 2%;
}
.content .item {
  float: left;
}
.content .item img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.videoBox {
  width: 96%;
  padding: 1% 2% 4% 2%;
  margin: 0 !important;
}
#gallery {
  font-size: 0;
}
.profile {
  height: 100%;
}
.profile img {
  width: 100%;
  height: auto;
  margin: 2% 0 0 0;
	position: relative;
top: 25%;
transform: translateY(25%);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f76041;
  cursor: pointer;
}
.item:hover .overlay {
  opacity: .9;
}
audio {
  margin: 0 auto;
  display: block;
}
.text {
  color: white;
  font-size: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: 'futura_no2_dbold_italic';
  text-shadow: 2px 2px 0 #1c1c1c;
  /*text-transform: uppercase;*/
}
.details {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-shadow: none;
  line-height: 25px;
  padding: 0px 0px 0px 1px;
}
.backHome {
  font-family: 'futura_no2_dbold_italic';
  font-size: 1.5em;
  text-align: center;
  padding: 2%;
  color: #ffb94d;
}
.cardbox {width: 25%; padding: 2%; display: inline-block; margin: 10px; text-align: center;
}
.cardbox img {width: 70%; display: block; margin: 0 auto;}
.cardbox h3 {font-size: 1.5em; font-family: 'futura_no2_dbold_italic'; margin: 0px 0px 20px 0px;}

.bt-block {padding: 15px; font-family: 'futura_no2_dbold_italic'; color: #1c1c1c; background-color: #ff5c50; margin: 15px 0px 20px 0px !important; display: inline-block}
.bt-block:hover {background-color: #8981f1; color: #1c1c1c !important; text-decoration: none !important;}

@media only screen and (max-width: 768px) {
	.profile img {
top: 5%;
transform: translateY(5%);
}
  .container {
    margin: 0px;
  }
  .profile {
    width: 98% !important;
    text-align: center;
  }
  .profile img {
    width: 30%;
    height: auto;
  }
  .about {
    width: 98% !important;
  }
  #logo {
    width: 50%;
  }
  #logo img {
    width: 28%;
    margin: 4% 0% 4% 1%;
  }
  #logo a {
    text-align: left;
    width: 70%;
    font-size: .6em;
  }
  #nav {
    font-size: 1.4em;
  }
  #nav ul {
    width: 40%;
    margin: 5.5% 4% 4% 1%;
  }
  h2 {
    font-size: 2.2em;
    padding: 4%;
  }
  p {
    font-size: 1.1em; /*///////////////////////*/
    line-height: 1.6em;
    padding: 0% 4% 4% 4%;
  }
  .content img {
    width: 92%;
    padding: 2% 4%; /*///////////////////////*/
  }
  #footer {
    padding: 5%;
    font-size: .9em; /*///////////////////////*/
  }
  .profile img {
    margin: 0;
  }
  .videoBox, .contentImageBox {
    width: 92%;
    padding: 1% 4% 4% 4%;
    margin: 0 !important;
  }
  .header .logo {
    width: 40%;
  }
	.text {
    font-size: 26px;
  }
  .details {
    font-size: 14px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    margin: 0px;
  }
  .w80, .w75, .w70, .w60, .w50, .w40, .w30, .w25, .w20 {
    width: 100%;
  }
  #logo {
    width: 50%;
  }
  #logo img {
    width: 28%;
    margin: 4% 0% 4% 1%;
  }
  #logo a {
    text-align: left;
    width: 70%;
    font-size: .6em;
  }
  #nav {
    font-size: 1.4em;
  }
  #nav ul {
    width: 40%;
    margin: 5.5% 4% 4% 1%;
  }
  h2 {
    font-size: 1.4em;
    padding: 4%;
  }
  p {
    font-size: .7em;
    line-height: 1.6em;
    padding: 0% 4% 4% 4%;
  }
  .content img {
    width: 92%;
    padding: 4%;
  }
  #footer {
    padding: 5%;
    font-size: .6em;
  }
  #about {
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #about div {
    margin: 0;
    padding: 1%;
    width: 98%;
  }
  .profile img {
    margin: 0;
  }
  .header .logo {
    width: 50%;
  }
  .text {
    font-size: 26px;
  }
  .details {
    font-size: 14px;
    white-space: nowrap;
  }
}